{% extends "ethernet.jinja2" %}
{% block connection %}
{{ super() -}}
master={{ intf.master_bond }}
slave-type=bond
{% endblock %}
{% block additional_values %}
{{ super() }}
[team-port]
{% endblock %}
