conn {{name}}
	type={{mode.value}}
	connaddrfamily={{ family }}
	authby=secret
	left={{ left_ip.ip }}
	right={{ right_ip.ip }}
	phase2={{ phase2.value }}
	esp={{ cipher }}
	auto=start
	encapsulation={{ encapsulation.value }}
	{% if replay_window != None %}
	replay-window={{ replay_window }}
	{% endif %}
	{% if nic_offload %}
	nic-offload={{ nic_offload.value }}
	{% endif %}
	{% if esn %}
	esn={{ esn.value }}
	{% endif %}

