conn {{name}}
	type={{type}}
	connaddrfamily={{ connaddrfamily }}
	authby=secret
	left={{ left }}
	right={{ right }}
	phase2={{ phase2 }}
	phase2alg={{ cipher }}
	keyexchange=ike
	pfs=yes
	auto=start
	encapsulation={{ encapsulation }}
	{% if replay_window %}
	replay-window={{ replay_window }}
	{% endif %}
	{% if nic_offload %}
	nic-offload={{ nic_offload }}
	{% endif %}

