{% for r in routes %}
	{% if r.get_gateway() %}
{{ r.get_destination() }} via {{ r.get_gateway() }} dev {{ r.get_interface().name }} metric {{ r.get_metric() }}
	{% else %}
{{ r.get_destination() }} via {{ r.get_destination() }} dev {{ r.get_interface().name }} metric {{ r.get_metric() }}
	{% endif %}
{% endfor %}
