{% extends "generic.jinja2" %}
{% block additional_values %}
HWADDR={{ intf.mac }}
{% endblock %}
{% block addresses %}
	{% if intf.master_bridge %}
BRIDGE={{ intf.master_bridge.name }}
	{% else %}
{{ super() -}}
	{% endif %}
{% endblock %}
